.history
    padding-top 140px

    
    &-date
        font-size 20px
        padding-bottom 10px
        padding-left 5px
    
    &-block
        padding 30px

    &-items
        flex()

    &-item
        &__code
            font-size 20px
            padding 5px
            margin 5px
            text-align center

            &.used
                background #ffbdbd
            
            &.added
                background #d5ffe8